@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="~/Content/Styles.css" />
        <script src="~/Scripts/Main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
            </div>
            <form action="CalculaHoras" class="form">
                <H1 class="captionForm">Cálculo de Horas</H1>
                <label>Valor total:</label>
                <input type="number" name="nmbTotal" id="nmbTotal" placeholder="R$">
                <label>Horas por dia:</label>
                <input type="number" name="nmbHourDay" id="nmbHourday" placeholder="Horas diárias">
                <label>Dias semana:</label>
                <input type="number" name="nmbDaysWeek" id="nmbDaysWeek" placeholder="Dias na semana">
                <label>Dias de férias:</label>
                <input type="number" name="nmbVacation" id="nmbVacation" placeholder="Dias de férias">
                <button type="submit" name="btnResult" id="btnResult" value="Calcular" onclick="calculate()">Calcular</button>
            </form>
        </div>
    </body>
</html>